@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<!--<div class="text-center">
    <h1 class="display-4">Project to Implement of Project Management Software and Add-Ons including DevOps Workflow</h1>-->
    @*<p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>*@
<!--</div>-->


<div class="container">
    <h5>PROJECT TO IMPLEMENT OF PROJECT MANAGEMENT SOFTWARE AND ADD-ONS/ PLUG-IN INCLUDING AZURE DEVOPS WORKFLOW</h5>
    <br />
    
    <script data-jsd-embedded data-key="83242ab8-5dfb-43b5-86ec-930ad97599fc" 
    data-base-url="https://jsd-widget.atlassian.com" 
    src="https://jsd-widget.atlassian.com/assets/embed.js">
    </script>

    <div class="bs-example">
        <div class="accordion" id="accordionExample">
            <div class="card">
                <div class="card bg-info" id="headingOne">
                    <h2 class="mb-1">
                        <button type="button" class="btn btn-link text-white" data-toggle="collapse" data-target="#collapseOne">EPIC</button>
                    </h2>
                </div>
                <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                    <div class="card-body">
                        <div class="table-responsive-sm">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Epic Detail</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>1.</td>
                                        <td>
                                            PM Software Evaluation, Selection and Implementation/ Integration.
                                        </td>
                                        
                                    </tr>
                                    <tr>
                                        <td>2.</td>
                                        <td>
                                            DevOps Workflow
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card bg-info" id="headingTwo">
                    <h2 class="mb-0">
                        <button type="button" class="btn btn-link collapsed text-white" data-toggle="collapse" data-target="#collapseTwo">PRODUCT AND INTEGRATION TOOLS</button>
                    </h2>
                </div>
                <div id="collapseTwo" class="collapse show" aria-labelledby="headingTwo" data-parent="#accordionExample">
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>
                                            Product and Integration Tools
                                        </th>
                                        <th>Detail</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td> IRA</td>
                                        <td>
                                            Jira Cloud by Atlassian [PM Software]
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Confluence</td>
                                        <td>
                                            Confluence [Knowledge and Project/ Team Collaboration]
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Add-On for Azure DevOps</td>
                                        <td>
                                            TFS4JIRA, EXALATE [JIRA with Azure DevOps integration]
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Add-On for Test Management</td>
                                        <td>
                                            Zephyr Squad [Test Management for Jira]
                                        </td>
                                    </tr>

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </div>


</div>
